<div class="n-title-container">
  <h2 class="n-main-title"><%= @account.name %> Account Settings</h2>
</div>

<div class="n-cards-grid">
  <%= link_to account_system_prompt_path(@account), class: "n-card n-main-focus place-content-center n-main-border n-main-hover h-48 xl:col-span-2" do %>
    <%= inline_svg "svg/chats.svg", title:"API tokens", alt: "System Prompts", class: "mx-auto w-12 h-12" %>
    <p class="n-card-title">System Prompt</p>
  <% end %>
</div>
