<details class="relative">
  <summary class="n-btn-primary list-none">+ Add source</summary>
  <div class="n-dropdown-menu absolute right-0 mt-1 border n-main-border">
    <div class="n-dropdown-list">
      <%= link_to new_sources_document_path, class: "n-dropdown-item n-main-hover" do %>📄 Upload documents<% end %>
      <%= link_to new_sources_website_path,  class: "n-dropdown-item n-main-hover" do %>🌐 Add website<% end %>
      <%= link_to new_sources_text_path,     class: "n-dropdown-item n-main-hover" do %>📝 Paste text<% end %>
      <%= link_to new_sources_qna_path,      class: "n-dropdown-item n-main-hover" do %>❓ Add Q&A<% end %>
    </div>
  </div>
</details>
