.n-btn {
  @apply cursor-pointer text-center text-sm rounded-lg px-4 py-2
  transition duration-200
  focus:outline-2 focus:outline-offset-1 focus:outline-green-500;
}

.n-btn-chat {
  @apply absolute right-2.5 bottom-3.5 inline-flex h-10 w-10 items-center justify-center rounded-lg cursor-pointer text-white
  transition duration-200 ease-in-out
  focus:outline-none focus:ring-2;
}

.n-btn-chat-send {
  @apply bg-green-300
  focus:ring-green-500
  hover:-rotate-90 hover:opacity-90 hover:bg-green-400
  dark:bg-green-900 dark:hover:bg-green-800
  disabled:opacity-40;
}

.n-btn-stop-chat {
  @apply bg-red-600
  focus:ring-red-400
  hover:bg-red-700
  dark:bg-red-700 dark:hover:bg-red-800;
}

.n-btn-danger {
  @apply cursor-pointer text-center text-sm items-center rounded-lg p-1.5
  transition duration-200
  focus:outline-2 focus:outline-offset-1 focus:outline-red-500
  bg-red-200 dark:bg-red-900 hover:bg-red-300 dark:hover:bg-red-800;
}

.n-btn-drawer {
  @apply cursor-pointer h-42 bg-green-300 text-white rounded-l-lg flex items-center
  hover:bg-green-400
  dark:bg-green-900 dark:hover:bg-green-800;
}

.n-btn-group {
  @apply flex w-full gap-4 rounded-lg p-4 text-left text-sm font-medium;
}

.n-btn-icon {
  @apply cursor-pointer p-2 rounded-lg;
}

.n-btn-primary {
  @apply cursor-pointer bg-green-300 text-center text-sm items-center rounded-lg px-4 py-2
  transition-colors duration-200 hover:bg-green-400
  focus:outline-2 focus:outline-offset-1 focus:outline-green-500
  dark:bg-green-900 dark:hover:bg-green-800;
}
