.n-btn {
  @apply cursor-pointer text-center rounded-lg p-1.5 transition-colors duration-200
  focus:ring-2 focus:outline-2 focus:ring-green-500 focus:outline-offset-1 focus:outline-green-500 focus:border-green-500;
}

.n-btn-chat {
  @apply absolute bottom-2.5 right-2.5 px-4 py-2 rounded-lg text-sm sm:text-base text-white
  transition-colors duration-200
  focus:ring-2 focus:outline-2 focus:ring-green-500 focus:outline-offset-1 focus:outline-green-500 focus:border-green-500
  bg-green-300 dark:bg-green-900 hover:bg-green-400 dark:hover:bg-green-800;
}

.n-btn-danger {
  @apply cursor-pointer text-center text-sm items-center rounded-lg p-1.5
  transition-colors duration-200
  focus:ring-2 focus:outline-2 focus:ring-red-500 focus:outline-offset-1 focus:outline-red-500 focus:border-red-500
  bg-red-200 dark:bg-red-900 hover:bg-red-300 dark:hover:bg-red-800;
}

.n-btn-drawer {
  @apply h-42 bg-green-300 dark:bg-green-900 rounded-l-lg flex items-center
  text-white font-bold cursor-pointer
  hover:bg-green-400 dark:hover:bg-green-800;
}

.n-btn-group {
  @apply flex w-full gap-4 rounded-lg p-4 text-left text-sm font-medium;
}

.n-btn-icon {
  @apply cursor-pointer p-2 rounded-lg;
}

.n-btn-primary {
  @apply cursor-pointer text-center text-sm items-center rounded-lg px-4 py-2
  transition-colors duration-200
  focus:ring-2 focus:outline-2 focus:ring-green-500 focus:outline-offset-1 focus:outline-green-500 focus:border-green-500
  bg-green-300 dark:bg-green-900 hover:bg-green-400 dark:hover:bg-green-800;
}
