.n-btn {
    @apply cursor-pointer text-center text-sm rounded-lg px-4 py-2
  transition-colors duration-200
  focus:outline-2 focus:outline-offset-1 focus:outline-green-500;
}

.n-btn-not-allowed {
    @apply cursor-not-allowed text-center text-sm rounded-lg px-4 py-2;
}

.n-btn-chat {
    @apply px-4 py-2 rounded-lg text-sm sm:text-base text-white
  transition-colors duration-200
  focus:outline-2 focus:outline-offset-1 focus:outline-green-500
  bg-green-300 dark:bg-green-900 hover:bg-green-400 dark:hover:bg-green-800;
}

.n-btn-danger {
    @apply cursor-pointer text-center text-sm items-center rounded-lg p-1.5
  transition-colors duration-200
  focus:outline-2 focus:outline-offset-1 focus:outline-red-500
  bg-red-200 dark:bg-red-900 hover:bg-red-300 dark:hover:bg-red-800;
}

.n-btn-drawer {
    @apply cursor-pointer h-42 bg-green-300 text-white rounded-l-lg flex items-center
  hover:bg-green-400
  dark:bg-green-900 dark:hover:bg-green-800;
}

.n-btn-group {
    @apply flex w-full gap-4 rounded-lg p-4 text-left text-sm font-medium;
}

.n-btn-icon {
    @apply cursor-pointer p-2 rounded-lg;
}

.n-btn-primary {
    @apply cursor-pointer bg-green-300 text-center text-sm items-center rounded-lg px-4 py-2
  transition-colors duration-200 hover:bg-green-400
  focus:outline-2 focus:outline-offset-1 focus:outline-green-500
  dark:bg-green-900 dark:hover:bg-green-800;
}

.n-tab-active {
    @apply text-center whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium
  border-green-500 text-green-600 dark:text-green-400
  hover:border-neutral-300 hover:text-neutral-700 dark:hover:text-neutral-300;
}

.n-tab {
    @apply text-center whitespace-nowrap border-transparent border-b-2 py-4 px-1 text-sm font-medium
  text-neutral-500 dark:text-neutral-400
  hover:border-neutral-300 hover:text-neutral-700 dark:hover:text-neutral-300;
}
