.n-card {
  @apply grid overflow-hidden border bg-white dark:bg-neutral-800 shadow-sm rounded-xl truncate;
}

.n-card-content {
  @apply m-6;
}

.n-cards-grid {
  @apply my-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-6 2xl:grid-cols-8 gap-4;
}

.n-card-title {
  @apply mb-2 md:text-lg font-semibold tracking-tight truncate;
}

.n-card-subtitle {
  @apply text-sm md:text-base text-neutral-700 dark:text-neutral-400 truncate;
}
