.n-form-chat {
  @apply w-full min-h-[58px] resize-none overflow-hidden rounded-xl border py-3.5 pl-4 pr-14 text-base leading-6
  border-neutral-200 bg-white text-neutral-900 placeholder-neutral-400
  transition duration-200
  focus:outline-none focus:ring-2 focus:ring-green-500
  dark:border-neutral-700 dark:bg-neutral-700 dark:text-white dark:placeholder-neutral-400
  disabled:opacity-50 disabled:cursor-not-allowed;
}

.n-form-actions {
  @apply mt-6;
}

.n-form-container {
  @apply mx-auto py-8 max-w-lg lg:py-16;
}

.n-form-content {
  @apply mb-4 font-light text-neutral-500 sm:mb-5 dark:text-neutral-400;
}

.n-form-field {
  @apply my-2;
}

.n-form-title {
  @apply mb-4 text-xl font-bold sm:text-2xl;
}

.n-field,
.n-textarea {
  @apply appearance-none block p-2.5 w-full text-sm bg-neutral-50 rounded-lg border border-neutral-300
  transition duration-200
  focus:outline-2 focus:outline-offset-1 focus:outline-green-500
  dark:bg-neutral-700 dark:border-neutral-600 dark:placeholder-neutral-400;
}

.n-label {
  @apply text-left mb-1 text-sm;
}

.n-select {
  @apply appearance-none bg-neutral-50 border border-neutral-300 text-sm rounded-lg block w-full p-2.5
  transition duration-200
  focus:outline-2 focus:outline-offset-1 focus:outline-green-500
  dark:bg-neutral-700 dark:border-neutral-600;
}
