.n-main-bg {
    @apply bg-gray-200 dark:bg-gray-800;
}

.n-main-border {
    @apply border-gray-200 dark:border-gray-700;
}

.n-main-focus {
    @apply transition-colors duration-200 focus:outline-2 focus:outline-offset-1 focus:outline-green-500;
}

.n-main-hover {
    @apply cursor-pointer transition-colors duration-200 hover:bg-green-200 dark:hover:bg-green-800;
}

.n-main-title-container {
    @apply sm:flex sm:items-center sm:justify-between sm:gap-4;
}

.n-main-title {
    @apply text-xl font-semibold sm:text-2xl;
}
