<% content_for :title, "New chat" %>
<div class="h-[calc(100vh-10.5rem)] lg:h-full flex flex-col justify-end">
  <section class="w-full max-w-4xl mx-auto">
    <div class="mx-auto pointer-events-auto rounded-2xl bg-white dark:bg-neutral-800 shadow-xl ring-1 ring-neutral-200 dark:ring-neutral-700 p-4">
      <%= render "form", chat: @chat %>
    </div>
  </section>
</div>
