<% content_for :navbar do %>
  <li class="flex items-center">
    <%= link_to "Accounts", accounts_path, class:"n-ariane n-main-focus" %>
  </li>
  <li class="flex items-center">
    <%= inline_svg_tag "svg/chevron-right.svg", class: "shrink-0 h-5 w-5" %>
    <%= link_to "Edit account", new_account_path, class:"n-ariane n-main-focus" %>
  </li>
<% end %>

<div class="n-title-container">
  <h2 class="n-main-title mt-0.5">New Account</h2>
</div>

<div class="n-form-container">
  <%= render "form", account: @account %>
</div>
